<!DOCTYPE html>
<html lang="en">

<head>
  {{>headerlinks}}
</head>

<body>
   {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    
                     <!-- right side div -->
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="errimg">
                            <img src="images/banner_error_404.jpg" alt="akankha" class="img-fluid" title="akanksha">
                        </figure>

                   
                    <!-- left side div -->
              
                       <p>Welcome to Akanksha's World!</p>
                        <h1>{{errMssg}}</h1>
                        <a href="/"><button class="bttn">Go Back</button></a>
                   
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>